@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --height-header: var(--header-height);
  --height-screen-header: var(--header-screen-height);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(0.9897 0.0051 247.88);
  --foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6499 0.1722 268.67);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.7248 0.1441 230.6);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(53.2% 0 0);
  --accent: oklch(0.7248 0.1441 230.6);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(97.9% 0.005 258.9);
  --ring: oklch(0.7248 0.1441 230.6);

  --header-height: 61px;
  --header-screen-height: calc(100vh - var(--header-height));
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply w-full;
  }

  .phoneInput {
    @apply !bg-input !border-border focus-visible:border-ring focus-visible:ring-ring/50 !h-[49px] !w-full border focus-visible:ring-[3px];
  }

  .phoneButton {
    @apply !border-none !bg-transparent hover:!bg-transparent;
  }

  .phoneDropdown {
    width: 250px !important;
  }

  .phoneInputSearch {
    padding: 0 !important;
    margin: 0 !important;
  }

  .phoneInputSearch span {
    display: none;
  }

  .phoneInputSearch input {
    margin: 0 !important;
    width: 230px;
    border-radius: 0 !important;
  }

  @media (max-width: 1024px) {
    .phoneInput {
      height: 39px !important;
    }
  }

  .pac-container {
    z-index: 9999 !important;
  }

  .widget-container {
    @apply !bg-white;
  }
}
